export PYTHONBREAKPOINT=IPython.embed

export VIRTUAL_ENV_DISABLE_PROMPT=1

export GIT_AUTHOR_EMAIL=gavinln@hotmail.com
export GIT_COMMITTER_EMAIL=gavinln@hotmail.com

export BAT_THEME="Solarized (dark)"
# export BAT_THEME="Solarized (light)"

# layout pipenv
