[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
fire = "*"
flake8 = "*"
mypy = "*"
python-lsp-server = "*"
pytype = "*"
ipython = "*"
pandas = "*"
pyarrow = "*"
duckdb = "*"
dask = "*"
datafusion = "*"
polars = "*"
awscli = "*"
awswrangler = "*"
sqlalchemy = "*"
clickhouse-driver = "*"
clickhouse-sqlalchemy = "*"
jupyter-client = "*"
jupyter-console = "*"
jupyterlab = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.8"
