[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
dask = "*"
pytest = "*"
flake8 = "*"
yapf = "*"
mypy = "*"
pandas = "*"
sqlalchemy = "*"
clickhouse-sqlalchemy = "*"
awscli = "*"
fire = "*"
pytype = "*"
jupyterlab = "*"
clickhouse-driver = "*"
polars = "*"
duckdb = "*"
typer = "*"
seaborn = "*"
pyarrow = "*"
awswrangler = "*"
black = "*"
datafusion = "*"

[dev-packages]

[requires]
python_version = "3.8"
