[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipython = "*"
dask = {extras = ["distributed"],version = "*"}
pytest = "*"
flake8 = "*"
mypy = "*"
yapf = "*"
psutil = "*"
setproctitle = "*"
jupyter-contrib-nbextensions = "*"
toolz = "*"
graphviz = "*"
numba = "*"
mimesis = "*"
fsspec = "*"
pyarrow = "*"
humanize = "*"
papermill = "*"
black = "*"
pandas = "*"
sqlalchemy = "*"
jupyterlab = "==1.2.6"
sqlalchemy-clickhouse = "*"
ibis-framework = {extras = ["clickhouse"],version = "*"}
jupytext = "*"
awscli = "*"
metaflow = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
